{% extends 'base.html.twig' %}

{% block title %}Cadastrar{% endblock %}

{% block body %}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nome) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Senha'
        }) }}

        <button type="submit" class="btn btn-primary">Cadastrar</button>
    {{ form_end(registrationForm) }}
{% endblock %}
